*{
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}


header{
background-color: white;
padding: 20px 0;
border-bottom: 1px solid #E4E1E2;


}

.center{
    max-width: 1200px;   
    padding:0 2%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    

}

.logo{
    font-size: 18px;
    color:#6359CC;
    cursor: pointer;   
}

.logo-robo{
    margin-right: 8px;
}

.menu-desktop{
display: flex;
align-items: center;
}

.nav-items a{
    text-decoration: none;
    font-size: 18px;
    color: #6359CC;
    position: relative;
}

.nav-items li{
list-style: none;

}

.nav-items{
    display: flex
}

.nav-items a::after{
    content: " ";
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
   background-color: #6359CC;
   position: absolute;
   transition: .5s ease-in-out;

}

.nav-items a:hover::after{
width: 100%;
}



.menu-items{
    padding: 10px;
}

main{

    background-image: url('../Images/image-background.jpg');
    background-attachment:fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;     
    

}


.conteudo-principal{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
 

}



.section--father{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
}

.section--one h1{
    font-size: 30px;
    color:#766dd8;


}



.section--one h3{
    
    font-size: 15px;
    color:#877ee4;
    
}


.conteudo--secundario{
margin-top: 100px;
}

.btn--conteudo{
    margin-top: 20px;
    width: 180px;
    height: 40px;
    padding: 1px 1px 1px;
    font-size:18px;
    border: 2px solid #857ce7;
    border-radius: 12px;
    color: white;
    background-color: #877ee4;
    cursor: pointer;
}

.btn--conteudo:hover{
    background-color: #5145cf ;
    transition: 2s;
    border: #E4E1E2;

}


.box--options{
    width: 250px;
    height: 200px;
    margin-right: 20px;
    padding: 15px;
    background-color: #EFF0EF;
    box-shadow: 2px 3px 10px #877ee4;
   transition: 0.5s;
}

.box--options:hover{
    transform: scale(1.1);
}

.box--options-father{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.box--options{
    cursor: pointer;
    margin-top: 100px;
}

.box--option i{
font-size: 25px;
color: #10332e
}

.box--option h1{
    font-size: 25px;
    color: #067a6b;
    
}

.box--option h2 {
margin-top: 10px;   
font-size: 17px;
color: #075c51;
line-height: 18px;
}

.about-us-area{
    width: 100%;
    margin-top: 200px;
   
    
}

.about-us-area{
display: flex;
flex-direction: column;
align-items: center;
flex-wrap: wrap;

}


.box-items-about{
    margin-top: 40px;
    margin-left: 60px;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;

}

.items--about i {
    color: #075c51;
    line-height: 3px;
}

.items--about{
align-items: center;
margin-right: 60px;
}


.about-us-area h1,p{
 color: #075c51;

}

.btn-about{
    width: 100px;
    height: 30px;
    padding: 1px 1px 1px;
    font-size:15px;
    border: 2px solid white;
    border-radius: 12px;
    color: white;
    background-color: #075c51;
    cursor: pointer;
    transition: 0.3s ;
}

.btn-about:hover{
    border: 2px solid rgb(185, 185, 185);


}
.abt2{
    width: 600px;
}